<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>{{ site.title }}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	
	
	<!-- Font -->
	
	<link href="https://fonts.googleapis.com/css?family=Playball%7CBitter" rel="stylesheet">
  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  
  <!-- Stylesheets -->
	
	<link href="common-css/bootstrap.css" rel="stylesheet">
	
	
	<link href="common-css/fluidbox.min.css" rel="stylesheet">
	
	<link href="common-css/font-icon.css" rel="stylesheet">
	
	
	<link href="01-homepage/css/styles.css" rel="stylesheet">
	
	<link href="01-homepage/css/responsive.css" rel="stylesheet">
	
</head>
<body>
	
	<header>
		
		<div class="container">
		</div><!-- container -->
	</header>
	
	
	<div class="main-slider">
		<div class="display-table center-text">
			<div class="display-table-cell">
				<div class="slider-content">
          <br>
					<h5 class="date">3 AUGUSTI 2019</h5>
					<h3 class="pre-title">Krusenberg Herrgård</h3>
					<h1 class="title">Sarab <i class="icon icon-heart"></i> Erik</h1>
					
				</div><!-- slider-content-->
			</div><!--display-table-cell-->
		</div><!-- display-table-->
	</div><!-- main-slider -->
	
	
	<section class="section story-area center-text">
		<div class="container">
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-sm-10">
					
					<div class="heading">
						<h2 class="title">Välkomna på bröllop</h2>
						<span class="heading-bottom"><i class="icon icon-star"></i></span>
					</div>

					<p class="desc margin-bottom">
            Snart är det dags för bröllop och vi ser fram emot att dela vår dag tillsammans med er! 
            Bröllopet kommer hållas på Krusenberg Herrgård utanför Knivsta vid vackra Mälaren.
           </p>
        </div><!-- col-sm-10 -->
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="img-wrapper"><img src="images/krusenberg2.jpg" alt="Content Image">
            </div>
						
        </div>
        <div class="col-sm-3"></div>
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- section -->
	
	<section class="section counter-area center-text">
		<div class="container">
			<div class="row">
			
				<div class="col-sm-12">
					<div class="heading">
						<h2 class="title">Nedräkningen har börjat</h2>
						<span class="heading-bottom"><i class="color-white icon icon-star"></i></span>
					</div>
				</div>
				
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					
					<div class="remaining-time">
						<div id="clock"></div>
					</div><!-- remaining-time -->
				</div><!-- col-sm-10 -->
				
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- section -->
	
	<section class="section w-details-area center-text">
		<div class="container">
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-sm-10">
					
					<div class="heading">
						<h2 class="title">Bröllopsdagen</h2>
						<span class="heading-bottom"><i class="icon icon-star"></i></span>
					</div>
					
					<div class="wedding-details margin-bottom">
						
						<div class="w-detail right">
							<i class="icon icon-ciurclke"></i>
							<h4 class="title"><i class="far fa-clock"></i> 15.00</h4>
							<p>Vigseln inleds vid Mälarens strand (utomhus så länge vädret tillåter) med samling minst 15 minuter innan. Det är en liten bit att gå från parkeringen till vigselplatsen, så tänk på att ha lite extra tid!</p>
						</div><!-- w-detail -->
						
						<div class="w-detail left">
							<i class="icon icon-wine-glass"></i>
							<h4 class="title"><i class="far fa-clock"></i> ca 15.45</h4>
							<p>Efterföljande mingel i närheten av vigselplatsen, med brudskål och tilltugg.</p>
						</div><!-- w-detail -->
						
						<div class="w-detail right">
                <i class="icon icon-cake"></i>
							<h4 class="title"><i class="far fa-clock"></i> ca 17.30</h4>
							<p>Bröllopet fortsätter med middag och dans i huvudbyggnaden på herrgården. Efter middagen finns dryck att köpa i baren där det går bra att betala med kort och kontanter.</p>
            </div><!-- w-detail -->
            
            <div class="w-detail left">
                <i class="icon far fa-moon"></i>
                <h4 class="title"><i class="far fa-clock"></i> 02.00</h4>
                <p>Bröllopsfesten avslutas på herrgården.</p>
              </div><!-- w-detail -->
					</div><!-- wedding-details -->
					
				</div><!-- col-sm-10 -->
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- section -->
	
	<section class="section ceremony-area center-text">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					
					<div class="heading">
						<h2 class="title">För övernattande gäster</h2>
						<span class="heading-bottom"><i class="color-white icon icon-star"></i></span>
					</div>

					<div class="ceremony margin-bottom">
						<p class="desc">För alla er som ska övernatta på herrgården går det bra att checka in från klockan 14 på lördagen. Det gör ni i receptionen i Kavaljersflygeln, där också de flesta av de trivsamma hotellrummen finns.
                </p>
              <p class="desc">
                  En härlig frukostbuffé serveras på söndagen mellan kl 9.30-12. Brudparet planerar att äta frukost från ca kl 10.00. Utcheckning är kl 13 men det finns möjlighet att stanna kvar på området. Rummen betalas vid utcheckning.
              </p>
                
					</div>
					
				</div><!-- col-sm-10 -->
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- section -->
	
	<section class="section w-details-area center-text">
      <div class="container">
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-10">
            
            <div class="heading">
              <h2 class="title">Information</h2>
              <span class="heading-bottom"><i class="icon icon-star"></i></span>
            </div>
            
            <div class="wedding-details margin-bottom">
              
                <div class="w-detail left">
                    <i class="icon fas fa-bed"></i>
                    <h4 class="title">Övernattning</h4>
                    <p>Vi blir jätteglada om ni vill stanna kvar! Krusenberg herrgård erbjuder dubbel- och enkelrum inlusive frukost till förmånligt pris.</p>
                    <p><a href="https://www.krusenbergherrgard.se">https://www.krusenbergherrgard.se</a></p>
                    <br>
                    <p>För bokning ring <a href="tel:+4618180300">018-180300</a> alt maila <a href="mailto:info@krusenbergherrgard.se">info@krusenbergherrgard.se</a> och uppge att ni ska deltaga på vårt bröllop.</a></p>
                  </div><!-- w-detail -->
              
                  
              <div class="w-detail right">
                <i class="icon icon-camera"></i>
                <h4 class="title">Fotografering</h4>
                <p>
                    Vi ser gärna att ni fotar så mycket ni vill under dagen. Däremot ber vi alla gäster att inte fotografera under själva vigseln. Vi kommer då ha en professionell fotograf.
                </p>
              </div><!-- w-detail -->
              
              <div class="w-detail left">
                <i class="icon fas fa-child"></i>
                <h4 class="title">Barn</h4>
                <p>Vi önskar fira vår bröllopsdag i vuxet sällskap. Om ni har barn som fortfarande ammas så är de givetvis välkomna.</p>
              </div><!-- w-detail -->
              
              <div class="w-detail right">
                  <i class="icon fas fa-tshirt"></i>
                <h4 class="title">Klädkod</h4>
                <p>Kavaj</p>
              </div><!-- w-detail -->
              
              <div class="w-detail left">
                  <i class="icon fas fa-gift"></i>
                  <h4 class="title">Presenter</h4>
                  <p>
                      Det som betyder mest för oss är att ni är med och delar vår stora dag, och vi är väldigt glada om så många som möjligt väljer att övernatta på herrgården för att äta frukost med oss dagen efter. 
                  </p>
                  <br>
                  <p>
                      Skulle ni ändå vilja ge oss någonting är ett bidrag till vår bröllopsresa eller en rolig upplevelse mycket uppskattat.
                      <br>Bidrag kan även sättas in på bankkonto 9272-856 617 8 i ICA Banken.
                  </p>
                </div><!-- w-detail -->

                <div class="w-detail right">
                    <i class="icon far fa-grin-alt"></i>
                  <h4 class="title">Tal, spex, sång etc</h4>
                  <p>
                      Vi blir jätteglada för alla typer av arrangemang från er gäster. För dig som vill hålla tal, spexa, sjunga en sång eller göra något annat kul under middagen, ber vi er att höra av er till vårt fantastiska värdpar Karin Sundin och Jason Dainter. Kontakta dem gärna i god tid så att de kan planera in när det passar.
                  </p>
                  <br>
                  <p>
                    Kontakt:<br>
                      <a href="mailto:wedding@eriksundin.se">wedding@eriksundin.se</a>
                    <br>073-0480279 (Karin)
                    <br>073-8079079 (Jason)
                  </p>
                </div><!-- w-detail -->

            </div><!-- wedding-details -->
            
          </div><!-- col-sm-10 -->
        </div><!-- row -->
      </div><!-- container -->
    </section><!-- section -->
	
	<section class="section">
		<div class="container">
			<div class="row">
				
				<div class="col-sm-12">
					
					<div class="heading center-text">
						<h2 class="title">Hitta rätt</h2>
						<span class="heading-bottom"><i class="icon icon-star"></i></span>
					</div>
          
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-sm-12 margin-bottom">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2010.8546605812367!2d17.645018215746706!3d59.73523638545294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465fb64c37d7ebb5%3A0xb57b90c72b72bc62!2sKrusenberg+Herrg%C3%A5rd!5e0!3m2!1ssv!2sse!4v1548187360940" height="350" frameborder="0" style="border:0;display: block;width: 100%" allowfullscreen></iframe>
              </div>
              <div class="col-md-6 col-sm-12">
                <p class="desc">
                    Krusenberg Herrgård ligger strax utanför Knivsta i Uppland, drygt 5 mil norr om Stockholm och 2 mil söder om Uppsala. Det finns parkering precis vid herrgården.
                </p>
                <br>
                <p class="desc">
                    Tar ni pendeln till Knivsta och behöver skjuts till Krusenberg? Hör av er i god tid före bröllopshelgen så försöker vi ordna det!
                </p>
              </div>
            </div>
          </div>

					
				</div><!-- col-sm-10 -->
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- section -->
	
	<section class="contact-area">
		<div class="contact-wrapper section float-left">
			<div class="container">
				<div class="row">
					<div class="col-sm-2"></div>
					
					<div class="col-sm-10">
						<div class="heading">
							<h3 class="title">Kontakt</h3>
						</div>
						
						<div class="margin-bottom">
							<p><h4>Brudparet</h4></p>
							<p>Erik, <a href="mailto:erik@eriksundin.se">erik@eriksundin.se</a>, 072-5632949</p>
							<p>Sarab, <a href="mailto:sarab.s.84@gmail.com">sarab.s.84@gmail.com</a>, 073-6120205</p>
							
						</div><!-- margin-bottom -->
					</div><!-- col-sm-10 -->
					
				</div><!-- row -->
			</div><!-- container -->
		</div><!-- float-left -->
		
	</section><!-- section -->
	
	
	<footer>
		<div class="container center-text">
			
			<div class="logo-wrapper">
        <i class="icon icon-star"></i>
        <h3>Vi ser fram emot att dela vår bröllopsdag med er!</h3>
			</div>
			
			
			<p class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
			
		</div><!-- container -->
	</footer>
	
	
	<!-- SCIPTS -->
	
	<script src="common-js/jquery-3.1.1.min.js"></script>
	
	<script src="common-js/tether.min.js"></script>
	
	<script src="common-js/bootstrap.js"></script>
	
	<script src="common-js/jquery.countdown.min.js"></script>
	
	<script src="common-js/jquery.fluidbox.min.js"></script>
	
	
	<script src="common-js/scripts.js"></script>
	
</body>
</html>